<h1>Amazing TODO App</h1>
<h2>Track your task! Be organized person!</h2>

<hr>
<h4>Add new task:</h4>
<form #addForm="ngForm" (submit)="handleSubmit(addForm)">
    <input type="text" ngModel name="task">
    <button class="btn btn-primary" type="submit">Add Task</button>
</form>
<hr>
<div>
    <label for="search">
        Search:
        <input type="text" #searchText (keyup)="handleSearch(searchText.value)">
    </label>
</div>
<hr>
<h3>Your Tasks:</h3>
<!-- <ul>
    <li *ngFor="let t of tasks">
        {{t}}
        <button (click)="handleRemove(t)">Remove</button>
    </li>
</ul> -->

<table class="table table-striped">
    <thead>
        <tr>
            <td>Task
                <span class="sortButton" [class.isSorted]="sort == SortEnum.ASC" (click)="handleSort(SortEnum.ASC)">&uarr;</span>
                <span class="sortButton" [class.isSorted]="sort == SortEnum.DESC" (click)="handleSort(SortEnum.DESC)">&#8595;</span>
            </td>
            <td>Operation</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of tasks" [hidden]="!t.isVisible">
            <!--the task-->
            <td>
                <span *ngIf="!t.isUpdated">{{t.name}}</span>
                <span *ngIf="t.isUpdated">
                    <!--Update Mode-->
                    <input type="text" name="newTask" #newTask value="{{t.name}}">
                    <button class="btn btn-primary" type="submit" (click)="handleFinishUpdate(t.name, newTask.value)">Update</button>
                </span>
            </td>
            <!--the buttons-->
            <td>
                <button class="btn btn-danger" (click)="handleRemove(t.name)">Remove</button>
                <button class="btn btn-success" (click)="handleUpdate(t)">Update</button>
            </td>
        </tr>
    </tbody>
</table>